.FilterBar .Button {
  margin-left: 10px !important
}

.FilterBar .Dropdown {
  width: 120px !important;
  background-color: #fff;
  color: #333;
  outline: none;
  border: none
}
.FilterBar .Menu{
  font-size: .8rem 
}
@media(max-width: 600px) {
  .FilterBar .Button {
    width: 75px;
    font-size: .8rem
  }

  .FilterBar .Dropdown {
    width: 75px !important;
    font-size: .8rem
  }
}