.Posts{

display: grid;
align-items: center; 
justify-items: center; 
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) );
grid-gap: 50px 0;
}
 .Pagination{
  margin-left: 50%;
  transform: translateX(-50%)
}
@media(min-width: 678px){
  .Posts{


  /* grid-template-columns: 1fr 1fr */
}  }